// fontes
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$fonte-principal: "Vollkorn", serif;
$body-fontSize: 16;

// Cores
$roxo-escuro: #8844ee;
$roxo-claro: #b07dfb;
$cinza: #fafbfc;
$gradiente: linear-gradient(135deg, #8844ee, #b07dfb);

// Box-shadow
$box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);

// Functions
@function em($px) {
  @return $px / $body-fontSize + em;
}

// Mixins
@mixin fonte-principal($size) {
  font-size: em($size);
  font-family: $fonte-principal;
  line-height: 20px;
}

// padrao citacao e list
@mixin padrao-citacao-list() {
  padding: 30px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  background: $gradiente;
  align-self: start;
}

// Media queries
$large: 1200px;
$medium: 760px;
$small: 600px;

@mixin d($tela) {
  @if $tela == l {
    @media screen and(max-width: $large) {
      @content;
    }
  } @else if $tela == m {
    @media screen and(max-width: $medium) {
      @content;
    }
  } @else if $tela == s {
    @media screen and(max-width: $small) {
      @content;
    }
  } @else if $tela == ex {
    @media screen and(min-width: $large) {
      @content;
    }
  }
}
