/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Titulo cardápio preço em linha **/
#post-6 .cardapio_home .uagb-rm__title-wrap {
	width: 250px !important;
}

/** General >> Cardapio home preço **/
#post-6 .cardapio_home .uagb-rm__price {
	width: 100px !important;
}

/** General >> Footer **/
#colophon .ast-footer-overlay {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

/** General >> menu cardapio **/
#menu-item-19 > .menu-link {
	color: white !important;
	background-color: rgb(255, 136, 0) !important;
	height: 45px !important;
	border-radius: 22.5px !important;
}
#menu-item-19 > .menu-link:hover {
	background-color: black !important;
}

/** General >> Titulo do Post **/
.uagb-post__title > a {
	color: white !important;
	font-size: 24px !important;
}

/** General >> Data do post **/
#post-14 .uagb-post__date {
	font-family: 'Josefin Sans', sans-serif !important;
	color: white !important;
	font-size: 14px !important;
}

/** General >> categoria post **/
#post-14 .uagb-post__taxonomy {
	font-family: 'Josefin Sans', sans-serif !important;
	color: white !important;
	font-size: 14px !important;
}

/** General >> Botao leia mais do POST **/
#post-14 .wp-block-button__link {
	font-size: 18px !important;
	background: black !important;
	border: 2px solid #ff8800 !important;
}
#post-14 .wp-block-button__link:hover {
	border: 2px solid white !important;
	background: none !important;
	color: white !important;
}

/** General >> Pagination active **/
#post-14 .current {
	color: white !important;
	font-size: 14px !important;
	background: #ff8800 !important;
}

