header.header {
  display: flex;
  margin-bottom: 30px;  

  nav.menu-principal {
    background: $bege-medio;
    max-width: 300px;

    @include d(l) {
      float: right;
    }

    @include d(s) {
      max-width: 100% !important;
      display: flex;
      flex-direction: column;
      background: none;
      
    }
    button {
      display: none;
    }
    @include d(s) {
      button {
        display: flex;
        border: none;
        background: $cinza;
        width: 45px;
        height: 45px;
        padding-left: 0.5rem;
        margin-top: 1rem;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        position: relative;
        z-index: 300;
        align-self: flex-end;

        &[data-mobileButton="active"] {
          background: $bege-medio;

          &::before {
            transition: .4s transform;
            transform: rotate(-90deg);
            background: $cinza;
            box-shadow: 0 10px $cinza, 0 -10px $cinza;
          }
        }

        &::before {
          content: "";
          width: 100%;
          height: 5px;
          background: $bege-claro;
          box-shadow: 0 10px $bege-claro, 0 -10px $bege-claro;
          transition: .4s transform;
        }
      }
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 20px;
      @include d(s) {
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
      }

      li {
        font-size: em(16);
        
        @include d(s) {
          background: $bege-medio;
          padding: 10px;
          margin: 0 !important;
        }

        &:nth-child(2) {
          margin: 0 20px;
          @include d(s) {
            margin: 20px 0;
          }
        }

        & a {
          color: $cinza;
          text-decoration: none;
          &:hover {
            color: $bege-claro;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[data-menu] {
  @include d(s) {
    display: none !important;
  }
}

[data-menu="active"] {
  display: flex !important;
  animation: fadeIn 0.4s ease-in-out;
}
