// Geral
@import "reset";
@import "grid";
@import "variaveis-e-mixins";
@import "geral";

// Partes
@import "menu-principal";
@import "intro";
@import "menu";
@import "contato";
@import "footer";

// dataset

[data-scrollTop] {
    position: fixed;
    right: 2vw;
    bottom: 10vh;
    width: 50px;
    height: 50px;
    font-size: em(55);
    border: none;
    background: $bege-medio;
    color: $bege-escuro;
    font-weight: bold;
    display: none;
    transition: .3s all;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
[data-scrollTop="active"] {
    display: flex;
    animation: fadeIn .3s forwards;
}