nav ul.dropdown {
  li {
 background: linear-gradient(135deg, #b07dfb, #8844ee);
    border-radius: 8px; 
    &:nth-child(1) {
      margin-top: 15px;      
    }
  }
   display: none;
   position: absolute;
   right: 15px;
   top: 65px;
     li {
      margin: 5px 0;      
    }
}