// ACTIVE CLASS
.active {
  display: block;
  animation: fadeIn 0.9s forwards;
}

// ACTIVE CLASS

// anima ao scroll
// LOADER
[data-loader] {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  span {
    border: 16px solid $cinza;
    /* Light grey */
    border-top: 16px solid $roxo-escuro;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    @include fonte-principal(16);
    color: $roxo-escuro;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// LOADER

// MODAL

// container modal
.modal {
  position: fixed;
  z-index: 300;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  animation: fadeOut 0.4s forwards;

  // botao Fechar
  .btnFechar {
    width: 13px;
    height: 13px;
    border: 4px solid #b07dfb;
    color: red;
    font-size: 1.5em;
    border-radius: 50%;
    padding: 15px;
    background: white;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    font-weight: bold;

    &:hover {
      background: transparent;
      color: white;
      transition: 0.3s all;
    }
  }
}

// Modal ativo (aberto)
.modal.active {
  display: flex !important;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s forwards;

  // container modal aberto
  .container {
    width: 30vw;
    text-align: right;
    position: relative;

    @include d(m) {
      width: 70vw;
    }

    figcaption {
      color: $cinza;
      margin-top: 25px;
      text-align: left;
    }

    // imagens
    img {
      max-width: 100%;
      max-height: 70vh;
      border-radius: 15px;
      border: 1px solid #8844ee;
      cursor: default;
    }
  }
}

// dataset modal
[data-modal] {
  cursor: pointer;
}

[data-modal]:hover {
  opacity: 0.9;
  transition: 0.3s opacity;
}

// MODAL

// ACTIVE TAB NAV
[data-activetab] {
  display: grid !important;
}

[data-anime] {
  animation: fadeIn 0.3s forwards;
}

[data-tabactive] {
  border: 1px solid $roxo-escuro;
  background: $roxo-claro !important;
}

// Animais tabnav
main.content.animais {
  display: none;
}

// ACTIVE TAB NAV

// menu mobile
[data-menu="button"] {
  display: none;

  @include d(m) {
    grid-area: nav;
    grid-column: span 1;
    display: flex;
    margin: 10px 0;
    background: $roxo-escuro;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-items: center;
    position: relative;
    z-index: 300;
    max-width: 90px;
    box-shadow: $box-shadow;
  }

  &::before {
    @include d(m) {
      content: "";
      display: inline-block;
      height: 2px;
      width: 12px;
      background: white;
      margin-right: 4px;
      transition: 0.3s transform;
      box-shadow: 0 4px #fff, 0 -4px #fff;
    }
  }

  &.active {
    @include d(m) {
      display: flex !important;
    }

    &::before {
      @include d(m) {
        transform: rotate(90deg);
        background: $roxo-claro;
        box-shadow: $box-shadow;
      }
    }
  }
}

// menu mobile

// animar ao scroll
[data-scroll=""] {
  animation: fadeOut .4s forwards;
}
[data-scroll="scroll"] {
  animation: fadeIn .4s forwards;
}
// animar ao scroll

// scroll-top 
[data-scroll-top] {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 55px;
  background: linear-gradient(135deg, #b07dfb, #8844ee);
  color:$cinza;
  box-shadow: $box-shadow;
  border: none;
  font-size: em(60);
  cursor: pointer;
  display: none;
  animation: fadeIn .4s forwards;
  &:hover {
    background: $roxo-claro;
    transition: .3s all;
  }
}
// scroll-top 

// dropdown
[data-dropdown=""] {
  display: flex !important;
  flex-direction: column;
  animation: fadeIn .4s forwards;

  @include d(m) {
    position: inherit !important;
  }
}
// dropdown