* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

section {
  height: 100%;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 3em;
  animation: fadeOut 0.4s ease;
}

.ativo {
  opacity: 1;
  animation: fade 0.4s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

section#sobre {
  background: #fb5;
}

section#projetos {
  background: #e5e;
}

section#contato {
  background: #b54;
}
